.container {
    height: 100vh;
    overflow: hidden;
    background-color: black;
    font-family: sans-serif;
    perspective: 350px;
    font-size: 25px;
    font-weight: bold;
    color: gold;
}
.container-wars {
    margin: 0 auto;
    width: 450px;
    transform-origin: 50% 40%;
    animation: text-animate 30s infinite ease-in;
}
.title {
    margin-bottom: 30px;
    text-align: center;
}
.text {
    margin-bottom: 30px;
}

@keyframes text-animate {
    0% {
        transform: rotateX(35deg) translateY(600px);
    }
    100% {
        transform: rotateX(35deg) translateY(-300px);
    }
}
